@use 'variables.scss' as *;

@mixin body-400() {
	font-size: $font-size-md;
	font-style: normal;
	font-weight: $font-weight-regular;
	line-height: $font-size-xl;
}

@mixin body-600() {
	font-size: $font-size-md;
	font-style: normal;
	font-weight: $font-weight-semibold;
	line-height: $font-size-xl;
}

@mixin body-2-400() {
	font-size: $font-size-sm;
	font-style: normal;
	font-weight: $font-weight-regular;
	line-height: $font-size-md;
}
@mixin body-2-600() {
	font-size: $font-size-sm;
	font-style: normal;
	font-weight: $font-weight-semibold;
	line-height: $font-size-md;
}

@mixin body-2-700() {
	font-size: $font-size-sm;
	font-style: normal;
	font-weight: $font-weight-bold;
	line-height: $font-size-md;
}

@mixin header-1-600() {
	font-size: $font-size-2xl;
	font-style: normal;
	font-weight: $font-weight-semibold;
	line-height: $line-height-lg;
}

@mixin header-2-700() {
	font-size: $font-size-xl;
	font-style: normal;
	font-weight: $font-weight-bold;
	line-height: $line-height-md;
}

@mixin header-2-400() {
	font-size: $font-size-xl;
	font-style: normal;
	font-weight: $font-weight-regular;
	line-height: $line-height-md;
}

@mixin header-3-400() {
	font-size: $font-size-lg;
	font-style: normal;
	font-weight: $font-weight-regular;
	line-height: $line-height-sm;
}

@mixin header-3-600() {
	font-size: $font-size-lg;
	font-style: normal;
	font-weight: $font-weight-semibold;
	line-height: $line-height-sm;
}

@mixin button-600() {
	font-size: $font-size-sm;
	font-style: normal;
	font-weight: $font-weight-semibold;
	line-height: $line-height-xs;
	text-transform: uppercase;
}

@mixin caption-400() {
	font-size: $font-size-xs;
	font-style: normal;
	font-weight: $font-weight-regular;
	line-height: $line-height-xs;
}

// dać dodatek że mobile. czyli nazwa: previousNextBtnMobile
@mixin classPreviousNextBtn() {
	width: 3rem;
	height: 3rem;
	border-radius: $corner-radius-xs;
	border: 1px solid $light-hover;
	background-color: $white-300;
	box-shadow: $shadow-s-black;
	cursor: pointer;
}

// dać dodatek że mobile. czyli nazwa: previousNextBtnDesktop

@mixin previousNextBtnDesktop() {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: $corner-radius-xs;
	border: 1px solid $light-hover;
	background: $white-50;
	box-shadow: $shadow-s-black;
}

@mixin loginFormInput() {
	@include body-400;
	flex-grow: 1;
	border-radius: 0 $stroke-xl $stroke-xl 0;
	border: none;
	outline: none;
	padding: $horizontal-padding-md 0;
	background-color: $white-300;
}
