@use '../../styles/variables.scss' as *;
@use '../../styles/mixins' as *;

.addMarkBtn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 3rem;
	height: 3rem;
	border-radius: $corner-radius-sm;
	border: 1px solid $light-hover;
	background-color: $normal;
	box-shadow: $shadow-s-accent;
	color: #fff;
}

@media (width < 768px) {
	.addMarkBtn {
		flex: 0 0 3rem;
	}
}

@media (width >= 768px) {
	.addMarkBtn {
		width: 2rem;
		height: 2rem;
	}
}
