@use '../../styles/variables.scss' as *;
@use '../../styles/mixins' as *;

.dayButton {
	@include body-400;
	padding: $vertical-padding-md $horizontal-padding-lg;
	color: $text-grey-300;
	margin-right: $spacing-lg;
}

.active {
	@include body-600;
	border: 1px solid #000;
	border-radius: $corner-radius-md;
	border: 1px solid $light-hover;
	background-color: $white-300;
}

@media (width >= 768px) {
	.dayButton {
		margin-right: $spacing-lg;
	}

	.dayButton:last-of-type {
		margin-right: 0;
	}
}
