@use '../../styles/variables.scss' as *;
@use '../../styles/mixins' as *;

.gradesContainer {
	display: flex;
	align-items: center;
	border-bottom: 1px solid $light-hover;
	padding: $vertical-padding-md 0;

	.dataContainer {
		display: flex;
		align-items: center;

		.name {
			@include body-400;
			margin-left: $spacing-sm;
			color: $text-grey-300;
			width: 6.5rem;
		}
	}

	.gradesList {
		display: flex;

		.grades {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 3rem;
			height: 3rem;
			border: 1px solid $text-grey-50;
			border-radius: 0.5rem;
			margin-right: $spacing-lg;
			background-color: $white-300;
			color: $text-grey-300;
		}
	}
}

@media (width < 768px) {
	.grades {
		flex: 0 0 3rem;
	}
	.gradesList {
		overflow: scroll;
		margin-right: $spacing-lg;
	}
}

@media (width >= 768px) {
	.gradesContainer {
		padding: $vertical-padding-md 0;

		.dataContainer {
			display: flex;
			align-items: center;

			.name {
				@include body-400;
				margin-left: $spacing-sm;
				color: $text-grey-300;
				width: 6.5rem;
			}
		}

		.gradesList {
			display: flex;

			.grades {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 2rem;
				height: 2rem;
				border: 1px solid $text-grey-50;
				border-radius: 0.5rem;
				margin-right: $spacing-lg;
				background-color: $white-300;
				color: $text-grey-300;
			}
		}
	}
}
