@use '../../styles/variables.scss' as *;
@use '../../styles/mixins' as *;

.semestrContainer {
	margin-top: $spacing-lg;
	display: flex;
	align-items: center;
	background-color: $white-300;
	height: 2.5rem;
	border-radius: 2rem;
}

.semestrBtn {
	@include body-2-600;
	color: $text-grey-300;
	padding: 0 $horizontal-padding-lg;
}

.active {
	border-radius: 2rem;
	color: $green-500;
	background-color: $white-50;
	border: 1px solid $light-hover;
	height: 100%;
	border: 1px solid $green-100;
}

.buttonMargin {
	margin-right: $spacing-lg;
}

@media (width >= 768px) {
	.semestrContainer {
		margin-left: 1.5rem;
		margin-top: 0;
	}

	.hideOnDesktop {
		display: none;
	}

	.buttonMargin {
		margin-right: $spacing-sm;
	}
}
