@use '../../styles/variables.scss' as *;
@use '../../styles/mixins' as *;

.signUpMobileBtn {
	@include button-600;
	margin-top: $spacing-2xl;
	padding: $vertical-padding-xl;
	color: $text-grey-300;
	transition: color 0.3s;
}

.signUpMobileBtn:hover {
	color: $text-grey-200;
}

.forgotPasswordBtn {
	@include body-2-700;
	margin-bottom: 8rem;
	color: $green-500;
}

.forgotPasswordBtn:hover {
	text-decoration: underline;
}

@media (width >= 992px) {
	.signUpMobileBtn {
		display: none;
	}

	.signUpDesktopBtn {
		@include body-2-700;
		color: $green-500;
		padding: $vertical-padding-lg $horizontal-padding-xs;
	}

	.signUpDesktopBtn:hover {
		text-decoration: underline;
	}

	.forgotPasswordBtn {
		margin-bottom: $spacing-lg;
		padding: $vertical-padding-lg $horizontal-padding-xs;
	}
}
