@use '../../styles/variables.scss' as *;
@use '../../styles/mixins' as *;
@use '../../styles/z-indexes.scss' as *;

.actionMenuDesktop {
	display: none;
}

@media (width >= 768px) {
	.actionMenuDesktop {
		display: flex;
		justify-content: space-between;
		width: 100%;
		align-items: center;

		.heading {
			@include header-3-600;
			color: $text-grey-300;
			margin: 1.5rem;
		}
	}
}
